name: Manual ECS Deploy

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Copy the Image Tag from ECR (e.g., v1.0.1 or latest)'
        required: true
        type: string

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: rushikesh-strapi
  ECS_SERVICE: rushikesh-strapi-service
  ECS_CLUSTER: rushikesh-strapi-cluster
  CONTAINER_NAME: strapi-container

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Download current Task Definition
        run: |
          aws ecs describe-task-definition --task-definition ${{ env.ECR_REPOSITORY }} --query taskDefinition > task-definition.json

      - name: Fill in the new image ID in the Task Definition
        id: task-def
        uses: aws-actions/amazon-ecs-render-task-definition@v1
        with:
          task-definition: task-definition.json
          container-name: ${{ env.CONTAINER_NAME }}
          image: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.event.inputs.image_tag }}

      - name: Deploy to Amazon ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v2
        with:
          task-definition: ${{ steps.task-def.outputs.task-definition }}
          service: ${{ env.ECS_SERVICE }}
          cluster: ${{ env.ECS_CLUSTER }}
          wait-for-service-stability: true