name: CI - Build and Push Strapi to ECR

on:
  push:
    branches: [main]
    paths: ['app/**']

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./app
          push: true
          platforms: linux/amd64   # IMPORTANT
          provenance: false        # IMPORTANT
          tags: |
            ${{ steps.login-ecr.outputs.registry }}/rushikesh-strapi:latest
            ${{ steps.login-ecr.outputs.registry }}/rushikesh-strapi:${{ github.sha }}

      # Optional: Verify the images were pushed successfully
      - name: Verify ECR Image
        run: |
          aws ecr describe-images --repository-name rushikesh-strapi --image-ids imageTag=latest