name: CI - Build and Push Strapi

on:
  push:
    branches:
      - rushikesh
    paths:
      - 'app/**'

jobs:
  build-push:
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.vars.outputs.sha_short }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Short SHA
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: ./app
          push: true
          # Tagging with both latest AND the unique commit SHA
          tags: |
            rushin4559/strapi:latest
            rushin4559/strapi:${{ steps.vars.outputs.sha_short }}