name: CI - Build and Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.tag.outputs.tag }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password \
          | docker login --username AWS --password-stdin ${{ secrets.ECR_REPO }}

      - name: Create image tag
        id: tag
        run: echo "tag=$(date +%s)" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.ECR_REPO }}:${{ steps.tag.outputs.tag }} .

      - name: Push Docker image
        run: |
          docker push ${{ secrets.ECR_REPO }}:${{ steps.tag.outputs.tag }}
