name: Terraform Create
on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: 'Tag to deploy'
        required: true
        default: 'latest'

jobs:
  apply:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./infra/terraform
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
      TF_VAR_image_tag: ${{ github.event.inputs.image_tag }}

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - run: terraform init
      - run: terraform apply -auto-approve

      # SAVE the state file as an artifact
      - name: Upload State
        uses: actions/upload-artifact@v4
        with:
          name: terraform-state
          path: ./infra/terraform/terraform.tfstate